.App {
  text-align: center;
}

div.search-field {
  width: 28%;
  margin: 0 auto;
  margin-top: 25vh;
  background: #f3ce56;
  border-bottom: 2px solid #dab129;
  text-align: left;
}

form {
  padding: 5%;
}

fieldset {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

form h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.3em;
  text-shadow: none;
  padding-bottom: 10px;
  margin: 0;
  padding-bottom: 15px;
}

form label {
  color: #444;
  font-size: 0.875em;
  display: block;
  height: 23px;
  float: none;
  width: auto;
}

form input {
  padding: 12px 8% 12px 2%;
  width: 90%;
  line-height: 15px;
  height: auto;
  box-sizing: inherit;
  float: none;
}
